---
import { Image } from "astro:assets";

import slugify from "@sindresorhus/slugify";
import Button from "~/components/ui/Button.astro";
import Intro from "~/components/ui/Intro.astro";
import Layout from "~/layouts/Layout.astro";

import Link from "~/components/ui/Link.astro";
import tools from "~/tools.json";

export async function getStaticPaths() {
  return tools.map((tool) => ({
    params: { tool: slugify(tool.name, { decamelize: true }) },
    props: { tool },
  }));
}

const { tool } = Astro.props;
---

<Layout title={tool.name}>
  <div class="flex flex-col gap-12 lg:flex-row">
    <Intro class="w-full">
      <Fragment slot="title">{tool.name}</Fragment>

      <Fragment slot="description">
        {tool.description}
      </Fragment>

      {
        !!tool.categories?.length && (
          <div class="flex flex-wrap items-center gap-x-3 gap-y-2">
            {tool.categories.map((category) => (
              <Link
                href={`/categories/${slugify(category, { decamelize: true })}`}
              >
                <span class="opacity-50">#</span>
                {category}
              </Link>
            ))}
          </div>
        )
      }

      <a
        href={tool.url}
        target="_blank"
        rel="noopener noreferrer"
        class="group mt-2"
      >
        <Button variant="primary">Visit {tool.name}</Button>
      </a>
    </Intro>

    {
      tool.screenshotUrl && (
        <Image
          src={tool.screenshotUrl}
          alt={tool.name}
          height={720}
          width={1280}
          loading="eager"
          class="w-full border rounded-xl self-start lg:w-3/5"
        />
      )
    }
  </div>
</Layout>
