---
import Card from "~/components/ui/Card.astro";
import Layout from "../layouts/Layout.astro";

import recommendations from "../recommendations.json";
import tools from "../tools.json";
---

<Layout
  title="Bluesky.Garden — An open directory of Bluesky applications, tools, and resources."
>
  <header>
    <h1 class="text-4xl font-bold tracking-tight text-balance md:text-5xl">
      An open directory of <span class="underline text-primary">Bluesky</span>
      applications, tools, and resources.
    </h1>
  </header>

  <div class="flex flex-col gap-6 sm:gap-4">
    {
      recommendations.map((recommendation) => (
        <a
          href={recommendation.url}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Read more about ${recommendation.title}`}
          class="relative flex flex-wrap items-center gap-x-4 gap-y-2 group w-fit"
        >
          <div>
            <strong class="text-medium">
              &ldquo;{recommendation.title}&rdquo;
            </strong>

            <span class="text-muted whitespace-nowrap">
              — by {recommendation.author}
            </span>
          </div>

          <span class="underline group-hover:no-underline">Read more →</span>
        </a>
      ))
    }
  </div>

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-6">
    {
      tools.map((tool) => (
        <Card
          href={tool.url}
          name={tool.name}
          description={tool.description}
          target="_blank"
          rel="noopener noreferrer"
        />
      ))
    }
  </div>
</Layout>
