---
import slugify from "@sindresorhus/slugify";
import Card from "~/components/ui/Card.astro";
import Grid from "~/components/ui/Grid.astro";
import Intro from "~/components/ui/Intro.astro";
import Layout from "~/layouts/Layout.astro";

import recommendations from "~/recommendations.json";
import tools from "~/tools.json";
---

<Layout
  title="An open directory of Bluesky applications, tools, and resources."
>
  <Intro>
    <Fragment slot="title">
      An open directory of <span class="underline text-primary">Bluesky</span>
      applications, tools, and resources.</Fragment
    >
  </Intro>

  <div class="flex flex-col gap-6 sm:gap-4">
    {
      recommendations.map((recommendation) => (
        <a
          href={recommendation.url}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Read more about ${recommendation.title}`}
          class="relative flex flex-wrap items-center gap-x-4 gap-y-2 group w-fit"
        >
          <div>
            <strong class="text-medium">
              &ldquo;{recommendation.title}&rdquo;
            </strong>

            <span class="text-muted whitespace-nowrap">
              — by {recommendation.author}
            </span>
          </div>

          <span class="underline group-hover:no-underline">Read more →</span>
        </a>
      ))
    }
  </div>

  <Grid>
    {
      tools.map((tool) => (
        <Card
          href={`/tools/${slugify(tool.name, { decamelize: true })}`}
          name={tool.name}
          description={tool.description}
          faviconUrl={`https://www.google.com/s2/favicons?sz=128&domain_url=${tool.url}`}
        />
      ))
    }
  </Grid>
</Layout>
